<%# 配達先リストを更新（新しい順序で） %>
<%= turbo_stream.replace "delivery_points_list" do %>
  <div id="delivery_points_list" class="delivery-points-list">
    <% @delivery_points.each.with_index(1) do |point, index| %>
      <%= render "delivery_routes/delivery_point", point: point, index: index %>
    <% end %>
  </div>
<% end %>

<%# 地図を更新（ルート線を含む） %>
<%= turbo_stream.replace "map_container" do %>
  <div id="map_container"
       data-controller="map"
       data-map-api-key-value="<%= google_maps_api_key %>"
       data-map-points-value="<%= delivery_points_for_map(@delivery_points, @delivery_route).to_json %>"
       data-map-polyline-value="<%= @polyline %>">
    <div data-map-target="container" class="map-container"></div>
  </div>
<% end %>

<%# フラッシュメッセージ %>
<%= turbo_stream.replace "flash_messages" do %>
  <div id="flash_messages">
    <div class="flash flash-notice">ルートを最適化しました。</div>
  </div>
<% end %>
